/* This affects the text for mobile view mode*/
@media screen and (max-width: 768px) {
    .nav-link, h1, h2, h3, H4, p, strong, dd, i, ul, li .about-para .container-fluid img, .stats {
        font-size: calc(12px + 1vh); !important;
        margin: 0 !important;
    }
}
@media screen and (max-width: 768px) {
    header .title {
        font-size: calc(50px + 1vh); !important;
        margin: 0 !important;
    }
}

/* Properties for all of the buttons */
div div button {
    padding: 0;
    border: none;
    background: none;
}
.modal-header, .modal-footer {
    color: white;
}
/* Hero Image Parallax Effect */
header {
    min-height: 60em;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.images {
    height: 100vh;
    overflow: hidden;
}
.images img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
}

.about-me {
    position: relative;
    z-index: 6;
}
#foreground {
    z-index: 5;
}
#midground {
    z-index: 4;
}
#background {
    z-index: 3;
}
#farground {
    z-index: 2;
}
#moon {
    z-index: 1;
}
#stars {
    z-index: 0;
}
header::before {
    content: '';
    background: linear-gradient(
    0deg, #000, rgba(0, 0, 0, 0)
    );
    width: 100%;
    height:20%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.title {
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
        translate(-50%, -50%);
    z-index: 9;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: center;
}
/* About Me Section Properties */
.about-me, .softeducert-title {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
/* Gradient Effect for the respective elements listed below */
.about-me, .navbar, .card, li.list-group-item, .submit-button, .modal-header, .modal-footer, .resume-button {
    background-image: linear-gradient(
            45deg,
            hsl(240deg 100% 20%) 0%,
            hsl(252deg 100% 20%) 10%,
            hsl(260deg 100% 20%) 20%,
            hsl(265deg 100% 20%) 30%,
            hsl(270deg 100% 20%) 40%,
            hsl(274deg 100% 20%) 50%,
            hsl(286deg 100% 20%) 60%,
            hsl(297deg 100% 20%) 70%,
            hsl(307deg 100% 23%) 80%,
            hsl(314deg 100% 26%) 90%,
            hsl(319deg 100% 29%) 100%
    );
}

/* Card Properties in SOFTEDUCERT Section */
.card {
    max-width: 18rem;
}

/* Contact Form */
.contact-form {
    background-image: url("../media/signature.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Hover Effect for NavBar */
a.nav-link {
    color: white;
}
a.nav-link:hover {
    background: white;
    color: black;
}
/* Hover Effect for Thumbnails in Portfolio */
.img-wrapper.thumb {
    position: relative;
    overflow: hidden;
}
.img-wrapper > .thumb img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.img-wrapper > .thumb img, .img-wrapper > .content-thumb {
    transition: 200ms ease-in-out;
}
.img-wrapper:hover > .thumb img.blur {
    filter: blur(5px);
}
.img-wrapper:hover > .thumb img.zoom {
    transform: scale(1.05);
}

/* Hover Effect for Resume and Submit Buttons */
.resume-button, .submit-button, .my-resume {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
.my-resume:hover {
    transition-duration: 2s;
    background: linear-gradient(45deg, #070066, #E70066);
}
.resume-button:hover {
    transition-duration: 2s;
    background: linear-gradient(45deg, #070066, #E70066);
}
.submit-button:hover {
    transition-duration: 2s;
    background: linear-gradient(45deg, #070066, #E70066);
}

/* Hover Effect for Social Buttons/Image Links to enlarge */
.socials .img {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
.socials .img:hover {
    transform:
            scale(1.8);
}