/* This affects the text in "About Me" & "Portfolio" sections for mobile view mode*/
@media screen and (max-width: 768px) {
    .nav-link, h3, p, .container-fluid {
        font-size: 2vh !important;
        margin: 0 !important;
    }
}

div div button {
    padding: 0;
    border: none;
    background: none;
}

/* About Me Section Properties */
.about-me {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

/* Motion Graphics */
iframe[src="https://www.youtube.com/embed/5obInUtggvc"] {
    width: 100%;
    height: 100%;
}

/* Audio Production */
iframe[src="https://www.youtube.com/embed/uMKk1v3NLuk"] {
    width: 100%;
    height: 100%;
}