/* This affects the text for mobile view mode*/
@media screen and (max-width: 768px) {
    .nav-link, h1, h2, h3, H4, p, strong, dd, ul, li .about-para .container-fluid img {
        font-size: calc(12px + 1vh); !important;
        margin: 0 !important;
    }
}
/* Properties for all of the buttons */
div div button {
    padding: 0;
    border: none;
    background: none;
}

/* Hero Image Parallax Effect */


/* About Me Section Properties */
.about-me, .softeducert-title {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

/* Gradient Effect for the respective elements listed below */
.about-me, .navbar, .card, .submit-button {
    background-image: linear-gradient(
            45deg,
            hsl(240deg 100% 20%) 0%,
            hsl(252deg 100% 20%) 10%,
            hsl(260deg 100% 20%) 20%,
            hsl(265deg 100% 20%) 30%,
            hsl(270deg 100% 20%) 40%,
            hsl(274deg 100% 20%) 50%,
            hsl(286deg 100% 20%) 60%,
            hsl(297deg 100% 20%) 70%,
            hsl(307deg 100% 23%) 80%,
            hsl(314deg 100% 26%) 90%,
            hsl(319deg 100% 29%) 100%
    );
}
/* Card Properties in SOFTEDUCERT Section */
.card {
    max-width: 18rem;
}
/* Contact Form */
.contact-form {
    background-image: url("./media/signature.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Hover Effect for NavBar */
a.nav-link:hover {
    background: white;
    color: black;
}
/* Hover Effect for Thumbnails in Portfolio */
.img-wrapper.thumb {
    position: relative;
    overflow: hidden;
}

.img-wrapper > .thumb img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .thumb.content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
}

.img-wrapper > .thumb img, .img-wrapper > .thumb.content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > .thumb img.blur {
    filter: blur(5px);
}

.img-wrapper:hover > .thumb img.zoom {
    transform: scale(1.1);
}

.img-wrapper:hover > .thumb.content.fade {
    opacity: 0;
}

.img-wrapper:hover > .thumb.content.fade {
    opacity: 1;
}