body {
    width: 50%;
    margin-left: 200px;
    margin-right: 200px;
}

img[src="../documentation/mobile.jpg"]{
    width: 100%;
}

img[src="../documentation/desktop.jpg"] {
    border: 3px black solid;
    width: 100%;
}

p, ol {
    font-size: 21px;
}